$fontFamily: "Source Sans Pro", Arial, sans-serif;
$fontSize: 14px;
$borderRadius: 3px;
$transitionDuration: 0.2s;

/* Predefined Colors */
$blue: #39a3f4;
$green: #6ebc3b;
$purple: #7e57c2;
$cyan: #26c6da;
$pink: #ec407a;
$indigo: #5c6bc0;
$orange: #f6a821;
$yellow: #ffc800;
$red: #ef5350;
$secondary: #f4f4f4;
$secondaryAccent: #424242;
