<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" href="<%= BASE_URL %>favicon.ico" />
    <title>Apollo PrimeVue</title>

    <link
      id="theme-css"
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>assets/theme/theme-blue-light.css"
    />
    <link
      id="layout-css"
      rel="stylesheet"
      type="text/css"
      href="<%= BASE_URL %>assets/layout/css/layout-blue-light.css"
    />
  </head>
  <body>
    <div id="app">
      <div class="loader">
        <div>
          <span>A</span>
          <span>B</span>
          <span>C</span>
        </div>
      </div>
    </div>
  </body>
</html>
