<template>
  <div class="category-management">
    <!-- Cac button them moi , xoa  -->
    <Toolbar class="p-mb-4">
      <template slot="left">
        <Button
          label="Thêm mới"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          @click="openNew"
        />
      </template>
    </Toolbar>
    <!-- Cac button them moi , xoa  -->

    <!-- Danh sach nhom san pham -->
    <DataTable
      ref="dt"
      :value="categories"
      :paginator="true"
      :rows="10"
      :filters="filters"
      dataKey="id"
    >
      <template #header>
        <div class="table-header">
          <h5 class="p-m-0">Danh sách nhóm sản phẩm</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <InputText v-model="filters['global']" placeholder="Tìm kiếm..." />
          </span>
        </div>
      </template>

      <Column field="code" header="Mã nhóm sản phẩm" :sortable="true"></Column>
      <Column field="name" header="Tên nhóm sản phẩm" :sortable="true"></Column>
      <Column field="description" header="Mô tả" :sortable="true"> </Column>
      <Column field="status.name" header="Trạng thái" :sortable="true">
        <template #body="slotProps">
          <span :class="`${filterStatus(slotProps.data.status.value)}`">{{
            slotProps.data.status.name
          }}</span>
        </template>
      </Column>
      <Column :exportable="false">
        <template #body="slotProps">
          <Button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            @click="editCategory(slotProps.data)"
          />
          <Button
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            @click="confirmDeleteCategory(slotProps.data)"
          />
        </template>
      </Column>
    </DataTable>
    <!-- Danh sach nhom san pham -->

    <!-- Dialog Them moi va cap nhat nhom san pham  -->
    <Dialog
      :visible.sync="categoryDialog"
      :style="{ width: '400px' }"
      header="Thêm mới nhóm sản phẩm"
      :modal="true"
      class="p-fluid dialog-new"
    >
      <!-- Thong tin co ban -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label for="code">Mã nhóm hàng hoá</label>
          <InputText
            id="code"
            v-model="category.code"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !category.code }"
          />
          <small class="p-invalid" v-if="submitted && !category.code"
            >Mã nhóm sản phẩm không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-12">
          <label for="name">Tên nhóm hàng hoá</label>
          <InputText
            id="name"
            v-model="category.name"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !category.name }"
          />
          <small class="p-invalid" v-if="submitted && !category.name"
            >Mã nhóm sản phẩm không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-12">
          <label for="categoryParent">Thuộc nhóm</label>
          <Dropdown
            id="categoryParent"
            optionLabel="name"
            v-model="category.categoryParent"
            :options="categoriesParent"
            :class="{ 'p-invalid': submitted && !category.categoryParent }"
            autofocus
          />
        </div>
        <div class="p-field p-col-12">
          <label for="description">Mô tả</label>
          <Textarea
            id="description"
            v-model="category.description"
            rows="3"
            cols="20"
          />
        </div>
      </div>
      <!-- Thong tin co ban -->

      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="hideDialog"
        />
        <Button
          label="Lưu"
          icon="pi pi-check"
          class="p-button-text"
          @click="saveCategory"
        /> </template
    ></Dialog>
    <!-- Dialog Them moi va cap nhat nhom san pham  -->

    <!-- Dialog Xoa 1 san pham -->
    <Dialog
      :visible.sync="deleteCategoryDialog"
      :style="{ width: '450px' }"
      header="Cảnh báo"
      :modal="true"
    >
      <div class="confirmation-content">
        <span v-if="category"
          >Bạn chắc chắn muốn xoá <b>{{ category.name }}</b
          >?</span
        >
      </div>
      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="deleteCategoryDialog = false"
        />
        <Button
          label="Đồng ý"
          icon="pi pi-check"
          class="p-button-text"
          @click="deleteCategory"
        />
      </template>
    </Dialog>
    <!-- Dialog Xoa 1 san pham -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      categories: [],
      categoryDialog: false,
      deleteCategoryDialog: false,
      category: {},
      filters: {},
      submitted: false,
      categoriesParent: [],
    };
  },

  async created() {
    await this.$store.dispatch("product/getCategories");
    this.categories = this.$_.cloneDeep(this.$store.state.product.categories);
    this.categoriesParent = this.categories;
  },

  methods: {
    filterStatus(value) {
      const tag = "p-tag p-tag";
      if (value) return `${tag}-success`;
      else return `${tag}-danger`;
    },

    openNew() {
      this.category = {};
      this.submitted = false;
      this.categoryDialog = true;
    },

    editCategory(category) {
      this.category = { ...category };
      this.categoryDialog = true;
    },

    hideDialog() {
      this.categoryDialog = false;
      this.submitted = false;
    },

    saveCategory() {
      this.submitted = true;

      if (this.category.name) {
        if (this.category.id) {
          this.$set(
            this.categories,
            this.findIndexById(this.category.id),
            this.category
          );

          // emit len Product page de show toast
          this.$emit("showToast", {
            summary: "Thành công",
            detail: "Đã cập nhật sản phẩm",
            life: 3000,
          });
        } else {
          this.category.id = this.createId();
          this.categories.push(this.category);

          // emit len Product page de show toast
          this.$emit("showToast", {
            summary: "Thành công",
            detail: "Đã tạo mới sản phẩm",
            life: 3000,
          });
        }

        this.categoryDialog = false;
        this.category = {};
      }
      console.log("this: ", this.categories);
    },

    confirmDeleteCategory(category) {
      this.category = category;
      this.deleteCategoryDialog = true;
    },

    deleteCategory() {
      this.categories = this.categories.filter(
        (val) => val.id !== this.category.id
      );
      this.deleteCategoryDialog = false;
      this.category = {};

      // emit len Product page de show toast
      this.$emit("showToast", {
        summary: "Thành công",
        detail: "Đã xoá sản phẩm",
        life: 6000,
      });
    },
    findIndexById(id) {
      let index = -1;
      for (let i = 0; i < this.categories.length; i++) {
        if (this.categories[i].id === id) {
          index = i;
          break;
        }
      }

      return index;
    },

    createId() {
      let id = "";
      var chars =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 5; i++) {
        id += chars.charAt(Math.floor(Math.random() * chars.length));
      }
      return id;
    },
  },
};
</script>

<style scoped lang="scss">
.category-management {
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h5 {
      font-weight: bold;
      padding-top: 10px;
    }
  }

  .dialog-new {
    .title {
      text-decoration: underline;
    }
  }
}
</style>