<template>
  <div class="product-management">
    <!-- Cac button them moi , xoa  -->
    <Toolbar class="p-mb-4">
      <template slot="left">
        <Button
          label="Thêm mới"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          @click="openNew"
        />
        <Button
          label="Xoá"
          icon="pi pi-trash"
          class="p-button-danger"
          @click="confirmDeleteSelected"
          :disabled="!selectedProducts || !selectedProducts.length"
        />
      </template>
    </Toolbar>
    <!-- Cac button them moi , xoa  -->

    <!-- Danh sach san pham -->
    <DataTable
      ref="dt"
      :value="products"
      :selection.sync="selectedProducts"
      :paginator="true"
      :rows="10"
      :filters="filters"
      :rowsPerPageOptions="[5, 10, 25]"
      dataKey="id"
      paginatorTemplate="FirstPageLink PrevPageLink PageLinks NextPageLink LastPageLink CurrentPageReport RowsPerPageDropdown"
      currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} Sản phẩm"
    >
      <template #header>
        <div class="table-header">
          <h5 class="p-m-0">Danh sách sản phẩm</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <InputText v-model="filters['global']" placeholder="Tìm kiếm..." />
          </span>
        </div>
      </template>
      <Column
        selectionMode="multiple"
        headerStyle="width: 3rem"
        :exportable="false"
      ></Column>
      <Column header="Hình ảnh">
        <template #body="slotProps">
          <img
            :src="slotProps.data.image"
            :alt="slotProps.data.image"
            class="product-image"
          />
        </template>
      </Column>
      <Column field="sku" header="Mã SKU" :sortable="true"></Column>
      <Column field="name" header="Tên sản phẩm" :sortable="true"></Column>
      <Column
        field="category.name"
        header="Nhóm sản phẩm"
        :sortable="true"
      ></Column>
      <Column field="unit.name" header="Đơn vị tính" :sortable="true"> </Column>
      <Column field="buyPrice" header="Giá mua" :sortable="true">
        <template #body="slotProps">
          <span>{{ slotProps.data.buyPrice | formatMoney() }}</span>
        </template></Column
      >
      <Column field="salePrice" header="Giá bán" :sortable="true">
        <template #body="slotProps">
          <span>{{ slotProps.data.salePrice | formatMoney() }}</span>
        </template>
      </Column>
      <Column field="status.name" header="Trạng thái" :sortable="true">
        <template #body="slotProps">
          <span :class="`${filterStatus(slotProps.data.status.value)}`">{{
            slotProps.data.status.name
          }}</span>
        </template>
      </Column>
      <Column :exportable="false">
        <template #body="slotProps">
          <Button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            @click="editProduct(slotProps.data)"
          />
          <Button
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            @click="confirmDeleteProduct(slotProps.data)"
          />
        </template>
      </Column>
    </DataTable>
    <!-- Danh sach san pham -->

    <!-- Dialog Them moi va cap nhat product  -->
    <Dialog
      :visible.sync="productDialog"
      :style="{ width: '600px' }"
      header="Thêm mới sản phẩm"
      :modal="true"
      class="p-fluid dialog-new"
    >
      <!-- Thong tin co ban -->
      <h5 class="title">Thông tin cơ bản:</h5>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label for="name">Tên sản phẩm</label>
          <InputText
            id="name"
            v-model.trim="product.name"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !product.name }"
          />
          <small class="p-invalid" v-if="submitted && !product.name"
            >Tên sản phẩm không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="category">Nhóm sản phẩm</label>
          <Dropdown
            id="category"
            v-model="product.category"
            :options="categories"
            optionLabel="name"
            placeholder="Chọn nhóm sản phẩm"
            :class="{ 'p-invalid': submitted && !product.category }"
            autofocus
            required="true"
          />
          <small class="p-invalid" v-if="submitted && !product.category"
            >Nhóm sản phẩm không hợp lệ</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="unit">Đơn vị</label>
          <Dropdown
            id="unit"
            v-model="product.unit"
            :options="units"
            optionLabel="name"
            placeholder="Chọn đơn vị tính"
            :class="{ 'p-invalid': submitted && !product.unit }"
            autofocus
            required="true"
          />
          <small class="p-invalid" v-if="submitted && !product.unit"
            >Đơn vị tính không hợp lệ</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="sku">Mã SKU</label>
          <InputText
            id="sku"
            v-model.trim="product.sku"
            placeholder="Hệ thống tự sinh khi bỏ trống"
            autofocus
          />
        </div>
        <div class="p-field p-col-6">
          <label for="quantity">Số lượng</label>
          <InputText
            id="quantity"
            type="number"
            v-model.trim="product.quantity"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !product.quantity }"
          />
          <small class="p-invalid" v-if="submitted && !product.quantity"
            >Số lượng không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="buyPrice">Giá mua</label>
          <InputNumber
            id="buyPrice"
            v-model.trim="product.buyPrice"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !product.buyPrice }"
          />
          <small class="p-invalid" v-if="submitted && !product.buyPrice"
            >Giá mua không hợp lệ</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="salePrice">Giá bán</label>
          <InputNumber
            id="salePrice"
            v-model.trim="product.salePrice"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !product.salePrice }"
          />
          <small class="p-invalid" v-if="submitted && !product.salePrice"
            >Giá bán không hợp lệ</small
          >
        </div>
      </div>
      <!-- Thong tin co ban -->

      <!-- Thong tin variants -->
      <h5 class="title">Thông tin thuộc tính:</h5>
      <DataTable
        :value="variants"
        editMode="row"
        dataKey="id"
        :editingRows.sync="edittingRowVariants"
        @row-edit-init="onRowEditInit"
        @row-edit-cancel="onRowEditCancel"
      >
        <Column field="color" header="Màu sắc">
          <template #editor="slotProps">
            <InputText v-model="slotProps.data.color" autofocus />
          </template>
        </Column>
        <Column field="size" header="Size">
          <template #editor="slotProps">
            <InputText v-model="slotProps.data.size" />
          </template>
        </Column>

        <Column field="buyPrice" header="Giá mua">
          <template #editor="slotProps">
            <InputText v-model="slotProps.data.buyPrice" />
          </template>
        </Column>
        <Column field="salePrice" header="Giá bán">
          <template #editor="slotProps">
            <InputText v-model="slotProps.data.salePrice" />
          </template>
        </Column>
        <Column field="quantity" header="Số lượng">
          <template #editor="slotProps">
            <InputText v-model="slotProps.data.quantity" />
          </template>
        </Column>
        <Column
          :rowEditor="true"
          headerStyle="width:7rem"
          bodyStyle="text-align:center"
        ></Column>
      </DataTable>
      <!-- Thong tin variants -->

      <!-- Thong tin bo sung -->
      <h5 class="title">Thông tin bổ sung:</h5>
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-6">
          <label for="weight">Trọng lượng</label>
          <InputText
            id="weight"
            type="number"
            v-model.trim="product.weight"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !product.weight }"
          />
          <small class="p-invalid" v-if="submitted && !product.weight"
            >Trọng lượng sản phẩm không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-6">
          <label for="size">Kích thước đóng gói</label>
          <InputText
            id="size"
            v-model.trim="product.size"
            required="true"
            autofocus
            placeholder="Nhập theo cú pháp dài/rộng/cao"
            :class="{ 'p-invalid': submitted && !product.size }"
          />
          <small class="p-invalid" v-if="submitted && !product.size"
            >Kích thước đóng gói không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-12">
          <label for="description">Mô tả</label>
          <Textarea
            id="description"
            v-model="product.description"
            rows="3"
            cols="20"
          />
        </div>
        <div class="p-field p-col-6">
          <label for="image">Ảnh sản phẩm</label>
          <div>
            <FileUpload
              id="image"
              mode="basic"
              accept="image/*"
              :maxFileSize="1000000"
              label="Chọn ảnh"
              chooseLabel="Chọn ảnh"
            />
          </div>
        </div>
      </div>
      <!-- Thong tin bo sung -->

      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="hideDialog"
        />
        <Button
          label="Lưu"
          icon="pi pi-check"
          class="p-button-text"
          @click="saveProduct"
        /> </template
    ></Dialog>
    <!-- Dialog Them moi va cap nhat product  -->

    <!-- Dialog Xoa 1 san pham -->
    <Dialog
      :visible.sync="deleteProductDialog"
      :style="{ width: '450px' }"
      header="Cảnh báo"
      :modal="true"
    >
      <div class="confirmation-content">
        <span v-if="product"
          >Bạn chắc chắn muốn xoá <b>{{ product.name }}</b
          >?</span
        >
      </div>
      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="deleteProductDialog = false"
        />
        <Button
          label="Đồng ý"
          icon="pi pi-check"
          class="p-button-text"
          @click="deleteProduct"
        />
      </template>
    </Dialog>
    <!-- Dialog Xoa 1 san pham -->

    <!-- Dialog Xoa nhung san pham da chon -->
    <Dialog
      :visible.sync="deleteProductsDialog"
      :style="{ width: '450px' }"
      header="Confirm"
      :modal="true"
    >
      <div class="confirmation-content">
        <i class="pi pi-exclamation-triangle p-mr-3" style="font-size: 2rem" />
        <span v-if="product">Bạn có muốn xoá những sản phẩm đã chọn?</span>
      </div>
      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="deleteProductsDialog = false"
        />
        <Button
          label="Đồng ý"
          icon="pi pi-check"
          class="p-button-text"
          @click="deleteSelectedProducts"
        />
      </template>
    </Dialog>
    <!-- Dialog Xoa nhung san pham da chon -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      products: [],
      variants: [
        // {
        //   id: 1,
        //   color: "Red",
        //   size: "XL",
        //   buyPrice: 120000,
        //   salePrice: 220000,
        //   quantity: 2,
        // },
        // {
        //   id: 2,
        //   color: "blue",
        //   size: "XL",
        //   buyPrice: 120000,
        //   salePrice: 220000,
        //   quantity: 2,
        // },
        // {
        //   id: 3,
        //   color: "Yellow",
        //   size: "XL",
        //   buyPrice: 120000,
        //   salePrice: 220000,
        //   quantity: 2,
        // },
        // {
        //   id: 4,
        //   color: "pink",
        //   size: "XL",
        //   buyPrice: 120000,
        //   salePrice: 220000,
        //   quantity: 2,
        // },
        // {
        //   id: 5,
        //   color: "orange",
        //   size: "XL",
        //   buyPrice: 120000,
        //   salePrice: 220000,
        //   quantity: 2,
        // },
      ],
      edittingRowVariants: [],
      originalRowsVariants: {},
      productDialog: false,
      deleteProductDialog: false,
      deleteProductsDialog: false,
      product: {},
      selectedProducts: [],
      filters: {},
      submitted: false,
      categories: [
        { id: 1, name: "Ao Thun" },
        { id: 2, name: "Quan Tay" },
      ],
      units: [
        { id: 1, name: "Chiec" },
        { id: 2, name: "Cai" },
      ],
    };
  },

  async created() {
    await this.$store.dispatch("product/getAllProducts");
    this.products = this.$store.state.product.products;
  },

  methods: {
    filterStatus(value) {
      const tag = "p-tag p-tag";
      if (value) return `${tag}-success`;
      else return `${tag}-danger`;
    },

    openNew() {
      this.product = {};
      this.submitted = false;
      this.productDialog = true;
    },

    editProduct(product) {
      this.product = { ...product };
      this.productDialog = true;
    },

    hideDialog() {
      this.productDialog = false;
      this.submitted = false;
    },

    saveProduct() {
      this.submitted = true;

      if (this.product.name.trim()) {
        if (this.product.id) {
          this.$set(
            this.products,
            this.findIndexById(this.product.id),
            this.product
          );

          // emit len Product page de show toast
          this.$emit("showToast", {
            summary: "Thành công",
            detail: "Đã cập nhật sản phẩm",
            life: 3000,
          });
        } else {
          this.product.id = this.createId();
          this.product.image = "product-placeholder.svg";
          this.products.push(this.product);

          // emit len Product page de show toast
          this.$emit("showToast", {
            summary: "Thành công",
            detail: "Đã tạo mới sản phẩm",
            life: 3000,
          });
        }

        this.productDialog = false;
        this.product = {};
      }
    },

    confirmDeleteProduct(product) {
      this.product = product;
      this.deleteProductDialog = true;
    },

    deleteProduct() {
      this.products = this.products.filter((val) => val.id !== this.product.id);
      this.deleteProductDialog = false;
      this.product = {};

      // emit len Product page de show toast
      this.$emit("showToast", {
        summary: "Thành công",
        detail: "Đã xoá sản phẩm",
        life: 6000,
      });
    },
    findIndexById(id) {
      let index = -1;
      for (let i = 0; i < this.products.length; i++) {
        if (this.products[i].id === id) {
          index = i;
          break;
        }
      }

      return index;
    },

    createId() {
      let id = "";
      var chars =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 5; i++) {
        id += chars.charAt(Math.floor(Math.random() * chars.length));
      }
      return id;
    },

    exportCSV() {
      this.$refs.dt.exportCSV();
    },

    confirmDeleteSelected() {
      this.deleteProductsDialog = true;
    },

    deleteSelectedProducts() {
      this.products = this.products.filter(
        (val) => !this.selectedProducts.includes(val)
      );
      this.deleteProductsDialog = false;
      this.selectedProducts = null;

      // emit len Product page de show toast
      this.$emit("showToast", {
        summary: "Thành công",
        detail: "Đã xoá các sản phẩm",
        life: 3000,
      });
    },

    onRowEditInit(event) {
      this.originalRowsVariants[event.index] = {
        ...this.variants[event.index],
      };
    },

    onRowEditCancel(event) {
      this.variants[event.index] = this.originalRowsVariants[event.index];
    },
  },
};
</script>

<style scoped lang="scss">
.product-management {
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h5 {
      font-weight: bold;
      padding-top: 10px;
    }
  }

  .product-image {
    max-width: 30%;
    img {
      widows: 100%;
    }
  }

  .dialog-new {
    .title {
      text-decoration: underline;
    }
  }
}
</style>