<template>
  <div class="unit-management">
    <!-- Cac button them moi , xoa  -->
    <Toolbar class="p-mb-4">
      <template slot="left">
        <Button
          label="Thêm mới"
          icon="pi pi-plus"
          class="p-button-success p-mr-2"
          @click="openNew"
        />
      </template>
    </Toolbar>
    <!-- Cac button them moi , xoa  -->

    <!-- Danh sach nhom san pham -->
    <DataTable
      ref="dt"
      :value="units"
      :paginator="true"
      :rows="10"
      :filters="filters"
      dataKey="id"
    >
      <template #header>
        <div class="table-header">
          <h5 class="p-m-0">Danh sách Đơn vị tính</h5>
          <span class="p-input-icon-left">
            <i class="pi pi-search" />
            <InputText v-model="filters['global']" placeholder="Tìm kiếm..." />
          </span>
        </div>
      </template>

      <Column field="name" header="Đơn vị tính" :sortable="true"></Column>
      <Column field="description" header="Diễn giải" :sortable="true"></Column>
      <Column field="status.name" header="Trạng thái" :sortable="true">
        <template #body="slotProps">
          <span :class="`${filterStatus(slotProps.data.status.value)}`">{{
            slotProps.data.status.name
          }}</span>
        </template>
      </Column>
      <Column :exportable="false">
        <template #body="slotProps">
          <Button
            icon="pi pi-pencil"
            class="p-button-rounded p-button-success p-mr-2"
            @click="editUnit(slotProps.data)"
          />
          <Button
            icon="pi pi-trash"
            class="p-button-rounded p-button-warning"
            @click="confirmDeleteUnit(slotProps.data)"
          />
        </template>
      </Column>
    </DataTable>
    <!-- Danh sach nhom san pham -->

    <!-- Dialog Them moi va cap nhat nhom san pham  -->
    <Dialog
      :visible.sync="unitDialog"
      :style="{ width: '400px' }"
      header="Thêm mới đơn vị tính"
      :modal="true"
      class="p-fluid dialog-new"
    >
      <!-- Thong tin co ban -->
      <div class="p-fluid p-formgrid p-grid">
        <div class="p-field p-col-12">
          <label for="name">Đơn vị tính</label>
          <InputText
            id="name"
            v-model="unit.name"
            required="true"
            autofocus
            :class="{ 'p-invalid': submitted && !unit.name }"
          />
          <small class="p-invalid" v-if="submitted && !unit.name"
            >Đơn vị tính không hợp lệ.</small
          >
        </div>
        <div class="p-field p-col-12">
          <label for="description">Mô tả</label>
          <Textarea
            id="description"
            v-model="unit.description"
            rows="3"
            cols="20"
          />
        </div>
        <div class="p-field p-col-12" v-if="isEdit">
          <div class="p-field-checkbox">
            <Checkbox v-model="stopTracking" :binary="true" />
            <label for="binary">Ngưng theo dõi</label>
          </div>
        </div>
      </div>
      <!-- Thong tin co ban -->

      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="hideDialog"
        />
        <Button
          label="Lưu"
          icon="pi pi-check"
          class="p-button-text"
          @click="saveUnit"
        /> </template
    ></Dialog>
    <!-- Dialog Them moi va cap nhat nhom san pham  -->

    <!-- Dialog Xoa 1 san pham -->
    <Dialog
      :visible.sync="deleteUnitDialog"
      :style="{ width: '450px' }"
      header="Cảnh báo"
      :modal="true"
    >
      <div class="confirmation-content">
        <span v-if="unit"
          >Bạn chắc chắn muốn xoá <b>{{ unit.name }}</b
          >?</span
        >
      </div>
      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="deleteUnitDialog = false"
        />
        <Button
          label="Đồng ý"
          icon="pi pi-check"
          class="p-button-text"
          @click="deleteUnit"
        />
      </template>
    </Dialog>
    <!-- Dialog Xoa 1 san pham -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      units: [],
      unitDialog: false,
      deleteUnitDialog: false,
      unit: {},
      filters: {},
      submitted: false,
      isEdit: false,
      stopTracking: false,
    };
  },

  async created() {
    await this.$store.dispatch("product/getUnits");
    this.units = this.$_.cloneDeep(this.$store.state.product.units);
  },

  methods: {
    filterStatus(value) {
      const tag = "p-tag p-tag";
      if (value) return `${tag}-success`;
      else return `${tag}-danger`;
    },

    openNew() {
      this.unit = {};
      this.submitted = false;
      this.unitDialog = true;
    },

    editUnit(unit) {
      this.unit = { ...unit };
      this.unitDialog = true;
      this.isEdit = true;
    },

    hideDialog() {
      this.unitDialog = false;
      this.isEdit = false;
      this.submitted = false;
    },

    saveUnit() {
      this.submitted = true;

      if (this.unit.name) {
        if (this.unit.id) {
          this.$set(this.units, this.findIndexById(this.unit.id), this.unit);

          // emit len Product page de show toast
          this.$emit("showToast", {
            summary: "Thành công",
            detail: "Đã cập nhật đơn vị tính",
            life: 3000,
          });
        } else {
          this.unit.id = this.createId();
          this.units.push(this.unit);

          // emit len Product page de show toast
          this.$emit("showToast", {
            summary: "Thành công",
            detail: "Đã tạo mới đơn vị tính",
            life: 3000,
          });
        }

        this.unitDialog = false;
        this.unit = {};
      }
    },

    confirmDeleteUnit(unit) {
      this.unit = unit;
      this.deleteUnitDialog = true;
    },

    deleteUnit() {
      this.units = this.units.filter((val) => val.id !== this.unit.id);
      this.deleteUnitDialog = false;
      this.unit = {};

      // emit len Product page de show toast
      this.$emit("showToast", {
        summary: "Thành công",
        detail: "Đã xoá đơn vị tính",
        life: 6000,
      });
    },
    findIndexById(id) {
      let index = -1;
      for (let i = 0; i < this.units.length; i++) {
        if (this.units[i].id === id) {
          index = i;
          break;
        }
      }

      return index;
    },

    createId() {
      let id = "";
      var chars =
        "ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789";
      for (var i = 0; i < 5; i++) {
        id += chars.charAt(Math.floor(Math.random() * chars.length));
      }
      return id;
    },
  },
};
</script>

<style scoped lang="scss">
.unit-management {
  .table-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    h5 {
      font-weight: bold;
      padding-top: 10px;
    }
  }

  .dialog-new {
    .title {
      text-decoration: underline;
    }
  }
}
</style>