<template>
	<div class="login-body">
		<div class="body-container">
			<div class="p-grid">
				<div class="p-col-12 p-lg-6 left-side">
					<img
						src="assets/layout/images/logo-dark.png"
						alt="apollo-layout"
						class="logo"
					/>
					<h1>Chào mừng</h1>
					<p>
						Đăng nhập để sử dụng hệ thống
					</p>
				</div>
				<div class="p-col-12 p-lg-6 right-side">
					<div class="login-wrapper">
						<div class="login-container">
							<span class="title">Đăng nhập</span>

							<div class="p-grid p-fluid">
								<div class="p-col-12">
									<InputText placeholder="Tên đăng nhập" />
								</div>
								<div class="p-col-12">
									<InputText
										type="password"
										placeholder="Mật khẩu"
									/>
								</div>
								<div class="p-col-12">
									<Button
										label="Đăng nhập"
										icon="pi pi-check"
										@click="goDashboard"
									/>
								</div>
								<div
									class="p-col-12 text-center password-container"
								>
									<button class="p-link">
										Quên mật khẩu ?
									</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		goDashboard() {
			this.$router.push({ path: "/" });
		},
	},
};
</script>

<style scoped></style>
