<template>
  <div class="order-list">
    <div class="card">
      <h3>Danh sách đơn hàng</h3>
      <SelectButton
        v-model="valueFilterButton"
        :options="filtersButton"
        optionLabel="name"
        class="p-pt-2 p-pb-4"
      />
      <DataTable
        :value="orders"
        :paginator="true"
        :rows="8"
        :filters="filters"
        :selection="selectedOrder"
        selectionMode="single"
        dataKey="id"
        stateStorage="session"
        stateKey="dt-state-demo-local"
        class="p-datatable-lg"
        :loading="isLoading"
      >
        <template #header>
          <span class="p-input-icon-left p-col-12">
            <i class="pi pi-search p-pl-2" />
            <InputText
              class="p-col-12 p-pl-5"
              v-model="filters['global']"
              placeholder="Nhập mã đơn hàng, Số hóa đơn, Mã vận đơn, Tên khách hàng, Số điện thoại để tìm kiếm"
            />
          </span>
        </template>
        <Column field="code" header="Mã đơn hàng" />
        <Column field="bill.code" header="Mã hoá đơn" />
        <Column field="carrier.code" header="Mã vận đơn" />
        <Column field="createdAt" header="Ngày tạo đơn" :sortable="true" />
        <Column
          field="deliveryDate"
          header="Ngày vận chuyển"
          :sortable="true"
        />
        <Column field="expectedReceiptDate" header="Ngày nhận hàng dự kiến" />
        <Column field="user.name" header="Người tạo đơn" />
        <Column field="customer.name" header="Người mua hàng" />
        <Column field="carrier.name" header="Đơn vị vận chuyển" />
        <Column field="quantity" header="Số lượng" :sortable="true" />
        <Column field="total" header="Tổng thanh toán" :sortable="true">
          <template #body="slotProps">
            <span>{{ slotProps.data.total | formatMoney() }}</span>
          </template>
        </Column>
        <Column field="status.name" header="Trạng thái">
          <template #body="slotProps">
            <span :class="`${filterStatus(slotProps.data.status.value)}`">{{
              slotProps.data.status.name
            }}</span>
          </template>
        </Column>
        <Column>
          <template #body="slotProps">
            <div>
              <SplitButton
                v-if="slotProps.data.status.value != 'finish'"
                label="Hoàn thành"
                @click="changeStatusOrder(slotProps.data)"
                :model="listAction"
              ></SplitButton>
            </div>
          </template>
        </Column>

        <template #empty>
          <div class="no-found">
            <img width="156px" src="assets/layout/images/misa/kctttk.png" />
            <p class="p-mt-2">KHÔNG CÓ KẾT QUẢ PHÙ HỢP</p>
          </div>
        </template>
      </DataTable>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import { filtersButton } from "@/constants/order.js";

export default {
  data() {
    return {
      isLoading: true,
      selectedOrder: null,
      filters: {},
      filtersButton: filtersButton,
      valueFilterButton: filtersButton[0],
      listAction: [
        {
          label: "In hoá đơn",
          icon: "pi pi-print",
          command: () => this.printBill(),
        },
        {
          label: "In phiếu GH",
          icon: "pi pi-print",
          command: () => this.printOrder(),
        },
        {
          label: "Giao hàng thất bại",
          icon: "pi pi-times-circle",
          command: () => this.changeStatusOrder(),
        },
      ],
    };
  },

  created() {
    this.setLoading(true);
    setTimeout(() => {
      this.$store.dispatch("order/getOrders");
      this.setLoading(false);
    }, 2000);
  },

  watch: {
    valueFilterButton(status) {
      if (status.value == "all") this.filters = {};
      else this.filters = { global: status.name };
    },
  },

  computed: {
    ...mapState({
      orders: (state) => state.order.orders,
    }),
  },

  methods: {
    filterStatus(value) {
      const tag = "p-tag p-tag";
      if (value == "waiting") return `${tag}-primary`;
      else if (value == "going") return `${tag}-warning`;
      else if (value == "cod") return `${tag}-success`;
      else if (value == "finish") return `${tag}-success`;
      else if (value == "miss") return `${tag}-danger`;
      else if (value == "cancel") return `${tag}-danger`;
    },

    setLoading(value) {
      this.isLoading = value;
    },

    printBill(order) {
      console.log("In hoa don: ", order);
    },

    printOrder(order) {
      console.log("In Phieu Giao hang: ", order.target.value);
    },

    changeStatusOrder(order) {
      console.log("changeStatusOrder -> order", order.target.value);
    },
  },
};
</script>

<style scoped lang="scss">
.order-list {
  .no-found {
    text-align: center;
  }
}
</style>