<template>
  <TabView>
    <TabPanel header="SẢN PHẨM">
      <ProductManagement @showToast="showToast" />
    </TabPanel>
    <TabPanel header="NHÓM SẢN PHẨM">
      <CategoryManagement @showToast="showToast" />
    </TabPanel>
    <TabPanel header="ĐƠN VỊ TÍNH">
      <UnitManagement @showToast="showToast" />
    </TabPanel>
  </TabView>
</template>

<script>
import ProductManagement from "@/components/product/ProductManagement.vue";
import CategoryManagement from "@/components/product/CategoryManagement.vue";
import UnitManagement from "@/components/product/UnitManagement.vue";

export default {
  components: {
    ProductManagement,
    CategoryManagement,
    UnitManagement,
  },

  methods: {
    showToast({ summary, detail, life }) {
      this.$toast.add({
        severity: "success",
        summary,
        detail,
        life,
      });
    },
  },
};
</script>

<style>
</style>