<template>
  <div class="sale-page">
    <div class="p-grid">
      <div :class="isOpenForm ? 'p-col-2' : 'p-col-3'">
        <div class="card sale-page__card">
          <MessageList :messages="messages" @reset="closeAllForm" />
        </div>
      </div>
      <div :class="isOpenForm ? 'p-col-5' : 'p-col-6'">
        <div class="card sale-page__card">
          <MessageConversation
            :conversations="messageInfo.conversations"
            :user="messageInfo.user"
          />
        </div>
      </div>

      <div :class="isOpenForm ? 'p-col-5' : 'p-col-3'">
        <div class="card sale-page__card">
          <template
            v-if="
              !isOpenFormUpdateInfo &&
              !isOpenFormCreateOrder &&
              !isOpenFormConfirmOrder
            "
          >
            <MessageInformation
              :user="messageInfo.user"
              :notes="messageInfo.notes"
              :orders="messageInfo.orders"
              @openForm="openForm"
            />
          </template>

          <template v-if="isOpenFormUpdateInfo">
            <FormUpdateInformation
              :user="messageInfo.user"
              @update="updateInformation"
              @backTo="backTo"
            />
          </template>
          <template v-if="isOpenFormCreateOrder">
            <FormCreateOrder
              :user="messageInfo.user"
              @create="createOrder"
              @save="saveOrderTemporary"
              @cancel="cancelOrder"
              @backTo="backTo"
            />
          </template>
          <template v-if="isOpenFormConfirmOrder">
            <FormConfirmOrder
              :user="messageInfo.user"
              @confirm="confirmOrderAndDelivery"
              @save="saveOrderTemporary"
              @cancel="cancelOrder"
              @backTo="backTo"
            />
          </template>
          <Toast style="text-align: left" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";
import MessageList from "../components/MessageList.vue";
import MessageConversation from "../components/MessageConversation.vue";
import MessageInformation from "../components/MessageInformation.vue";

import FormCreateOrder from "../components/FormCreateOrder.vue";
import FormConfirmOrder from "../components/FormConfirmOrder.vue";
import FormUpdateInformation from "../components/FormUpdateInformation.vue";

export default {
  components: {
    MessageList,
    MessageConversation,
    MessageInformation,
    FormCreateOrder,
    FormConfirmOrder,
    FormUpdateInformation,
  },

  data() {
    return {
      isOpenForm: false,
      isOpenFormUpdateInfo: false,
      isOpenFormCreateOrder: false,
      isOpenFormConfirmOrder: false,
    };
  },

  created() {
    this.$store.dispatch("sale/getMessageBySource", { source: "all" });
  },

  computed: {
    ...mapState({
      messages: (state) => state.sale.messages,
      messageInfo: (state) => state.sale.messageInfo,
    }),
  },

  methods: {
    openForm(form) {
      if (form == "update-information") {
        this.isOpenFormUpdateInfo = true;
      } else if (form == "create-order") {
        this.isOpenFormCreateOrder = true;
        this.isOpenForm = true;
      }
    },

    closeAllForm() {
      this.isOpenForm = false;
      this.isOpenFormUpdateInfo = false;
      this.isOpenFormCreateOrder = false;
      this.isOpenFormConfirmOrder = false;
    },

    backTo(form) {
      if (form == "update-information") {
        this.isOpenFormUpdateInfo = false;
      } else if (form == "create-order") {
        this.isOpenFormCreateOrder = false;
        this.isOpenForm = false;
      } else if (form == "confirm-order") {
        this.isOpenFormConfirmOrder = false;
        this.isOpenForm = false;
      }
    },

    showToast(result) {
      // console.log("showToast -> result", result);
      this.$toast.add({
        // severity: "success",
        severity: result,
        summary: "Thành công!",
        detail: "Cập nhật thông tin thành công",
        life: 3000,
      });
    },

    updateInformation() {
      this.isOpenFormUpdateInfo = false;
      this.showToast("success");
    },

    createOrder() {
      this.isOpenFormCreateOrder = false;

      // Mo form confirm don don hang
      this.isOpenFormConfirmOrder = true;
    },

    saveOrderTemporary(form) {
      this.isOpenForm = false;
      if (form == "create-order") this.isOpenFormCreateOrder = false;
      else if (form == "confirm-order") this.isOpenFormConfirmOrder = false;
    },

    cancelOrder() {
      this.closeAllForm();
    },

    confirmOrderAndDelivery() {
      this.isOpenForm = false;
      this.isOpenFormConfirmOrder = false;
    },
  },
};
</script>

<style scoped lang="scss">
.sale-page {
  height: calc(100vh - 140px);
  text-align: center;
  overflow: hidden;

  &__card {
    padding: 0px;
  }
}
</style>