<template>
	<div class="login-body">
		<div class="body-container">
			<div class="p-grid">
				<div class="p-col-12 p-lg-6 left-side">
					<img
						src="assets/layout/images/logo-dark.png"
						alt="apollo-layout"
						class="logo"
					/>
					<h1>Xin chào</h1>
					<p>
						Đăng ký để trải nghiệm tương lai của bán hàng livestream
					</p>
				</div>
				<div class="p-col-12 p-lg-6 right-side">
					<div class="login-wrapper">
						<div class="login-container">
							<span class="title">Đăng ký</span>

							<div class="p-grid p-fluid">
								<div class="p-col-12">
									<InputText placeholder="Tên đăng nhập" />
								</div>
								<div class="p-col-12">
									<InputText
										type="password"
										placeholder="Mật khẩu"
									/>
								</div>
								<div class="p-col-12">
									<InputText placeholder="Số điện thoại" />
								</div>
								<div class="p-col-12">
									<InputText placeholder="Địa chỉ" />
								</div>
								<div class="p-col-6">
									<Button
										label="Đăng ký"
										icon="pi pi-check"
										@click="goDashboard"
									/>
								</div>
								<div class="p-col-6">
									<Button
										label="Đăng nhập"
										class="p-button-text"
										@click="goLogin"
									/>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	methods: {
		goDashboard() {
			this.$router.push({ path: "/" });
		},

		goLogin() {
			this.$router.push({ path: "/login" });
		},
	},
};
</script>

<style scoped></style>
