<template>
  <div class="card sale-form-update">
    <h5 class="title">Cập nhật thông tin khách hàng</h5>
    <div class="p-field p-fluid">
      <label for="phone">Số điện thoại</label>
      <InputText
        id="phone"
        placeholder="Nhập SĐT"
        type="text"
        v-model="formInfoCustomer.phone"
      />
    </div>
    <div class="p-field p-fluid">
      <label for="name">Tên khách hàng</label>
      <InputText
        id="name"
        placeholder="Nhập tên"
        type="text"
        v-model="formInfoCustomer.name"
      />
    </div>
    <div class="p-field p-fluid">
      <label for="email">Email</label>
      <InputText
        id="email"
        placeholder="Nhập email"
        type="text"
        v-model="formInfoCustomer.email"
      />
    </div>
    <div class="p-field p-fluid">
      <label for="address">Địa chỉ</label>
      <InputText
        id="address"
        placeholder="Nhập địa chỉ"
        type="text"
        v-model="formInfoCustomer.address"
      />
    </div>
    <div class="p-field p-fluid">
      <label for="birthDay">Ngày sinh</label>
      <Calendar
        id="birthDay"
        :showIcon="true"
        v-model="formInfoCustomer.birthDay"
      />
    </div>
    <div class="group-button">
      <Button
        label="Quay lại"
        icon="pi pi-arrow-left"
        class="p-button-link"
        @click="actionBackTo()"
      />
      <Button label="Lưu thông tin" icon="pi pi-save" @click="actionUpdate()">
        <ProgressSpinner style="width: 25px; height: 25px" v-if="isLoading" />
      </Button>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: { type: Object, default: null },
  },

  data() {
    return {
      isLoading: false,
      formInfoCustomer: {
        name: "",
        email: "",
        address: "",
        birthDay: "",
        phone: "",
      },
    };
  },

  mounted() {
    this.formInfoCustomer = this.$_.cloneDeep(this.user);
  },

  methods: {
    actionUpdate() {
      // Goi vuex update thong tin khach hang

      this.isLoading = true;
      setTimeout(() => {
        this.isLoading = false;
        this.$emit("update");
      }, 2000);
    },

    actionBackTo() {
      this.$emit("backTo", "update-information");
    },
  },
};
</script>

<style scoped lang="scss">
.sale-form-update {
  text-align: left;
  height: calc(100vh - 140px);

  .title {
    text-align: center;
    font-weight: bold;
    font-size: 18px;
  }

  .group-button {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
</style>