<template>
  <div class="sale-form-confirm">
    <div class="sale-form-confirm__input">
      <!-- Form dien thong tin nguoi dung -->
      <div class="sale-form-confirm__input__info-receiver">
        <p class="title">Thông tin người nhận</p>
        <div class="p-fluid">
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="name" class="p-col-3 p-mb-0 p-pl-5">Người nhận</label>
            <div class="p-col-9 p-pr-5">
              <InputText
                id="name"
                type="text"
                :value="formReceiver.name"
                v-model="formReceiver.name"
                placeholder="Nhập tên người nhận"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="phone" class="p-col-3 p-mb-0 p-pl-5"
              >Số điện thoại</label
            >
            <div class="p-col-9 p-pr-5">
              <InputText
                id="phone"
                type="text"
                :value="formReceiver.phone"
                v-model="formReceiver.phone"
                placeholder="Nhập SĐT người nhận"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="address" class="p-col-3 p-mb-0 p-pl-5"
              >Địa chỉ giao hàng</label
            >
            <div class="p-col-9 p-pr-5">
              <InputText
                id="address"
                type="text"
                :value="formReceiver.address"
                v-model="formReceiver.address"
                placeholder="Nhập địa chỉ người nhận"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Form dien thong tin nguoi dung -->

      <!-- Form dien thong tin goi hang -->
      <div class="sale-form-confirm__input__info-package">
        <p class="title">Thông tin gói hàng</p>
        <div class="p-fluid">
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="weight" class="p-col-3 p-mb-0 p-pl-5"
              >Trọng lượng (g)</label
            >
            <div class="p-col-9 p-pr-5">
              <InputText
                id="weight"
                type="number"
                :value="formPackage.weight"
                v-model="formPackage.weight"
                placeholder="Nhập khối lượng gói hàng"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="size" class="p-col-3 p-mb-0 p-pl-5"
              >Kích thước (cm)</label
            >
            <div class="p-col-9 p-pr-5">
              <InputText
                id="size"
                type="text"
                :value="formPackage.size"
                v-model="formPackage.size"
                placeholder="Nhập kích thước gói hàng theo cú pháp dài/rộng/cao"
              />
            </div>
          </div>
        </div>
      </div>
      <!-- Form dien thong tin goi hang -->

      <!-- Form dien thong tin don vi van chuyen -->
      <div class="sale-form-confirm__info-delivery">
        <p class="title">Thông tin giao hàng</p>
        <div class="p-fluid">
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="codPrice" class="p-col-3 p-mb-0 p-pl-5"
              >Thu hộ (COD)</label
            >
            <div class="p-col-9 p-pr-5">
              <InputNumber
                id="codPrice"
                :value="formDelivery.codPrice"
                v-model="formDelivery.codPrice"
                placeholder="Nhập số tiền thu hộ"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="depositPrice" class="p-col-3 p-mb-0 p-pl-5"
              >Đặt cọc</label
            >
            <div class="p-col-9 p-pr-5">
              <InputNumber
                id="depositPrice"
                :value="formDelivery.depositPrice"
                v-model="formDelivery.depositPrice"
                placeholder="Nhập số tiền đặt cọc"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="shippingPrice" class="p-col-3 p-mb-0 p-pl-5"
              >Phí Shipping</label
            >
            <div class="p-col-9 p-pr-5">
              <InputNumber
                id="shippingPrice"
                :value="formDelivery.shippingPrice"
                v-model="formDelivery.shippingPrice"
                placeholder="Nhập phí giao hàng"
              />
            </div>
          </div>

          <div class="p-field p-grid p-mb-0 p-mt-3">
            <label class="p-col-3 p-mb-0 p-pl-5">Đối tác giao hàng</label>
            <div class="p-field-radiobutton p-pl-2">
              <RadioButton
                id="personal"
                name="personal"
                value="personal"
                v-model="formDelivery.unitDelivery"
              />
              <label for="personal">Cá nhân</label>
            </div>
            <div class="p-field-radiobutton p-pl-5">
              <RadioButton
                id="organization"
                name="organization"
                value="organization"
                v-model="formDelivery.unitDelivery"
              />
              <label for="organization">Tổ chức</label>
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="deliveryPartner" class="p-col-3 p-mb-0 p-pl-5"></label>
            <div class="p-col-9 p-pr-5">
              <div class="partner">
                <Dropdown
                  class="partner__dropdown"
                  v-model="formDelivery.deliveryPartner"
                  optionLabel="name"
                  placeholder="Chọn một đối tác giao hàng"
                  :options="deliveryPartners"
                  :filter="true"
                  :showClear="true"
                >
                  <template #value="slotProps">
                    <span v-if="slotProps.value">
                      {{ slotProps.value.name }}
                    </span>
                  </template>
                  <template #option="slotProps">
                    <span>{{ slotProps.option.name }}</span>
                  </template>
                </Dropdown>
                <div class="partner__create">
                  <Button
                    icon="pi pi-plus"
                    class="p-button"
                    @click="actionWithDialogCreatePartner('open')"
                  />
                </div>
              </div>
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="deliveryDate" class="p-col-3 p-mb-0 p-pl-5"
              >Ngày giao hàng</label
            >
            <div class="p-col-9 p-pr-5">
              <Calendar
                id="deliveryDate"
                :showIcon="true"
                v-model="formDelivery.deliveryDate"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="expectedDeliveryDate" class="p-col-3 p-mb-0 p-pl-5"
              >Ngày nhận hàng</label
            >
            <div class="p-col-9 p-pr-5">
              <Calendar
                id="expectedDeliveryDate"
                :showIcon="true"
                v-model="formDelivery.expectedDeliveryDate"
              />
            </div>
          </div>
          <div class="p-field p-grid p-mt-0 p-mb-0">
            <label for="note" class="p-col-3 p-mb-0 p-pl-5">Ghi chú</label>
            <div class="p-col-9 p-pr-5">
              <span class="p-float-label">
                <Textarea
                  id="note"
                  :value="formDelivery.note"
                  v-model="formDelivery.note"
                  rows="3"
                  placeholder="Thêm ghi chú"
                />
              </span>
            </div>
          </div>
        </div>
      </div>
      <!-- Form dien thong tin don vi van chuyen -->
    </div>

    <!-- Button Action -->
    <div class="sale-form-confirm__button">
      <div class="left">
        <Button
          label="Quay lại"
          icon="pi pi-arrow-left"
          class="p-button-lg p-button-link"
          @click="actionBackTo()"
        />
      </div>
      <div class="right">
        <Button
          label="Huỷ đơn"
          icon="pi pi-trash"
          iconPos="left"
          class="p-button-lg p-button-outlined p-button-danger"
          @click="actionCancelOrder()"
        />
        <Button
          label="Lưu tạm"
          icon="pi pi-save"
          iconPos="left"
          class="p-button-lg p-button-outlined p-button-help p-ml-3"
          @click="actionSaveOrderTemporary()"
        >
          <ProgressSpinner
            style="width: 25px; height: 25px"
            v-if="isLoadingSave"
          />
        </Button>
        <Button
          label="Giao hàng"
          icon="pi pi-shopping-cart"
          iconPos="right"
          class="p-button-lg p-ml-3"
          @click="actionConfirmOrder()"
        >
          <ProgressSpinner
            style="width: 25px; height: 25px"
            v-if="isLoadingConfirm"
          />
        </Button>
      </div>
    </div>
    <!-- Button Action -->

    <!-- Dialog them don vi van chuyen ca nhan -->
    <Dialog
      header="Thêm mới đối tác giao hàng cá nhân"
      :visible.sync="showDialogCreatePartner"
      :style="{ width: '400px' }"
      :modal="true"
    >
      <div class="confirmation-content" style="text-align: left">
        <div class="p-field p-fluid">
          <label for="namePartner">Tên đối tác</label>
          <InputText id="namePartner" type="text" v-model="formPartner.name" />
        </div>
        <div class="p-field p-fluid">
          <label for="phonePartner">Điện thoại</label>
          <InputText
            id="phonePartner"
            type="text"
            v-model="formPartner.phone"
          />
        </div>
        <div class="p-field p-fluid">
          <label for="emailPartner">Email</label>
          <InputText
            id="emailPartner"
            type="text"
            v-model="formPartner.email"
          />
        </div>
        <div class="p-field p-fluid">
          <label for="addressPartner">Địa chỉ</label>
          <InputText
            id="addressPartner"
            type="text"
            v-model="formPartner.address"
          />
        </div>
      </div>
      <template #footer>
        <Button
          label="Huỷ bỏ"
          icon="pi pi-times"
          class="p-button-text"
          @click="actionWithDialogCreatePartner('close')"
        />
        <Button
          label="Lưu"
          icon="pi pi-check"
          class="p-button"
          autofocus
          @click="actionWithDialogCreatePartner('save')"
        />
      </template>
    </Dialog>
    <!-- Dialog them don vi van chuyen ca nhan -->
  </div>
</template>

<script>
export default {
  data() {
    return {
      showDialogCreatePartner: false,
      isLoadingConfirm: false,
      isLoadingSave: false,
      selectedPartner: null,
      deliveryPartners: [
        {
          name: "Giao hàng tiết kiệm",
          phone: "098776521",
          email: "tiki@gmail.com",
          address: "Dien bien phu, HCM, VN",
        },
      ],
      formReceiver: {
        name: "",
        address: "",
        phone: "",
      },
      formPackage: {
        size: "",
        weight: "",
      },
      formDelivery: {
        codPrice: 0,
        depositPrice: 0,
        shippingPrice: 0,
        unitDelivery: "personal",
        deliveryDate: "",
        expectedDeliveryDate: "",
        deliveryPartner: "",
        note: "",
      },
      formPartner: {
        name: "",
        phone: "",
        email: "",
        address: "",
      },
    };
  },

  methods: {
    actionWithDialogCreatePartner(event) {
      if (event == "open") this.showDialogCreatePartner = true;
      else if (event == "close") this.showDialogCreatePartner = false;
      else if (event == "save") {
        this.showDialogCreatePartner = false;
        this.deliveryPartners.push(this.formPartner);

        // Goi api tao moi don vi van chuyen ca nhan
      }
    },

    actionBackTo() {
      this.$emit("backTo", "confirm-order");
    },

    actionCancelOrder() {
      this.$emit("cancel");
    },

    actionSaveOrderTemporary() {
      // const order = {
      //   id: 3,
      //   name: "Đơn hàng lưu tạm",
      //   createdAt: new Date(),
      //   total: 400000,
      //   status: "chưa giao",
      // };
      // console.log("actionSaveOrderTemporary -> order", order);
      // goi api luu order tam

      this.isLoadingSave = true;
      setTimeout(() => {
        this.isLoadingSave = false;
        this.$emit("save", "confirm-order");
      }, 2000);
    },

    actionConfirmOrder() {
      // const order = {
      //   ...this.formReceiver,
      //   ...this.formPackage,
      //   ...this.formDelivery,
      // };
      // console.log("actionConfirmOrder -> order", order);
      // Goi api confirm va giao hang

      this.isLoadingConfirm = true;
      setTimeout(() => {
        this.isLoadingConfirm = false;
        this.$emit("confirm");
      }, 2000);
    },
  },
};
</script>

<style scoped lang="scss">
.sale-form-confirm {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .title {
    font-weight: bold;
    font-size: 22px;
    text-align: left;
    padding-top: 10px;
    padding-left: 10px;
  }

  &__input {
    &__info-receiver {
      margin-top: 10px;
    }

    &__info-package {
      margin-top: 10px;
    }

    &__info-delivery {
      margin-top: 10px;
    }

    .partner {
      text-align: left;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      &__dropdown {
        width: 100%;
      }

      &__create {
        padding-left: 5px;
      }
    }
  }

  &__button {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;

    .left {
      padding-left: 10px;
    }

    .right {
      padding-right: 10px;
    }
  }
}
</style>