<template>
  <div class="sale-form-create">
    <div class="sale-form-create__header">
      <p class="title">Đơn hàng</p>

      <!-- Input Auto Search Products -->
      <span class="p-fluid">
        <AutoComplete
          class="input-autocomplete"
          v-model="products"
          :suggestions="filteredProducts"
          :dropdown="true"
          :multiple="true"
          scrollHeight="900px"
          @complete="actionSearchProducts($event)"
          placeholder="Nhập tên hàng hoá, mã vạch, mã SKU ..."
          field="sku"
        >
          <template #item="slotProps">
            <div class="input-autocomplete__custom p-grid">
              <div class="p-col-2 custom-image">
                <img :src="slotProps.item.image.src" />
              </div>
              <div class="p-col-8 custom-title">
                <p class="custom-title__main">{{ slotProps.item.title }}</p>
                <p class="custom-title__sub">{{ slotProps.item.sku }}</p>
              </div>
              <div class="p-col-2 custom-price">
                <span>{{ slotProps.item.price | formatMoney() }}</span>
              </div>
            </div>
          </template>
        </AutoComplete>
      </span>
      <!-- Input Auto Search Products -->
    </div>
    <div class="sale-form-create__body">
      <!-- Danh sach cac products  -->
      <div class="table-product" v-if="products.length">
        <div class="table-product__header">
          <div class="p-grid">
            <span class="p-col-4"> Tên hàng hoá </span>
            <span class="p-col-2"> Số lượng </span>
            <span class="p-col-2"> Đơn giá </span>
            <span class="p-col-2"> Thành tiền </span>
            <span class="p-col-2"> </span>
          </div>
        </div>
        <hr class="p-pt-0 p-mt-2" />
        <div class="table-product__content">
          <div
            class="p-grid p-mt-2"
            v-for="(product, index) in products"
            :key="product.id"
          >
            <span class="p-col-4 name-product">
              <p class="name-product__title">
                {{ product.title }} - {{ index }}
              </p>
              <p class="name-product__subTitle">{{ product.sku }}</p>
              <template v-if="product.discount">
                <p class="name-product__discount">
                  KM {{ product.discount.percent }} % ({{
                    product.discount.price | formatMoney()
                  }}) - {{ product.discount.reason }}
                </p>
              </template>
            </span>
            <span class="p-col-2 input-quantity">
              <input
                type="number"
                name="quantity"
                min="1"
                step="1"
                :value="product.quantity"
                @change="actionUpdateProduct($event, product, 'quantity')"
              />
            </span>
            <span class="p-col-2 input-price">
              <input
                type="number"
                name="price"
                min="10000"
                step="5000"
                :value="product.price"
                @change="actionUpdateProduct($event, product, 'price')"
              />
            </span>
            <span class="p-col-2 price-product">
              {{ (product.price * product.quantity) | formatMoney() }}
            </span>
            <span class="p-col-2 p-pt-2 icon">
              <Button
                icon="pi pi-briefcase"
                class="p-button-rounded p-button-outlined"
                v-tooltip.top="'KM hoá đơn'"
                @click="actionOpenFormPromotion($event, index)"
              />
              <Button
                @click="actionRemoveProduct(product)"
                icon="pi pi-trash"
                class="p-button-rounded p-button-danger p-button-text p-pl-3"
              />
              <OverlayPanel
                ref="op"
                :showCloseIcon="true"
                id="overlay_panel"
                style="width: 300px"
                appendTo="body"
              >
                <div class="p-fluid p-pt-3">
                  <div class="p-field p-grid">
                    <div class="p-col-6">
                      <div class="p-field-radiobutton p-pl-2">
                        <RadioButton
                          id="percentRB"
                          name="percentRB"
                          value="percent"
                          v-model="promotion.type"
                          @change="actionChangeTypePromotion('percent')"
                        />
                        <label for="percentRB">Phần trăm (%)</label>
                      </div>
                    </div>
                    <div class="p-col-6">
                      <div class="p-field-radiobutton p-pl-2">
                        <RadioButton
                          id="money"
                          name="money"
                          value="money"
                          v-model="promotion.type"
                          @change="actionChangeTypePromotion('money')"
                        />
                        <label for="money">Số tiền</label>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="p-fluid">
                  <div class="p-field p-grid p-pl-3">
                    <div class="p-col-6">
                      <InputNumber
                        id="percent"
                        v-model="promotion.valuePercent"
                        :min="0"
                        :max="100"
                        suffix="%"
                        :disabled="promotion.type == 'money'"
                      />
                    </div>
                    <div class="p-col-6">
                      <InputNumber
                        v-model="promotion.valueMoney"
                        :disabled="promotion.type == 'percent'"
                      />
                    </div>
                  </div>
                </div>

                <div class="p-grid p-pl-3">
                  <span class="p-col-12 p-float-label">
                    <Textarea
                      class="p-col-12"
                      :value="promotion.reason"
                      v-model="promotion.reason"
                      rows="2"
                      placeholder="Nhập lý do khuyến mãi"
                    />
                  </span>
                </div>
                <div class="p-grid">
                  <div class="p-col-12 p-d-flex p-jc-end">
                    <Button
                      label="Đồng ý"
                      icon="pi pi-check"
                      @click="actionApplyPromotion(product)"
                    />
                  </div>
                </div>
              </OverlayPanel>
            </span>
          </div>
        </div>
      </div>
      <!-- Danh sach cac products  -->
    </div>

    <!-- Thong tin tien thanh toan -->
    <div class="sale-form-create__addition">
      <span class="title">Tổng tiền</span>
      <span class="price-total">{{ totalPriceOrder | formatMoney() }}</span>
    </div>
    <!-- Thong tin tien thanh toan -->

    <hr />

    <!-- Button action -->
    <div class="sale-form-create__footer">
      <div class="left">
        <Button
          label="Quay lại"
          icon="pi pi-arrow-left"
          class="p-button-lg p-button-link"
          @click="actionBackTo()"
        />
      </div>
      <div class="right">
        <Button
          label="Huỷ đơn"
          icon="pi pi-trash"
          iconPos="left"
          class="p-button-lg p-button-outlined p-button-danger"
          @click="actionCancelOrder()"
        />
        <Button
          label="Lưu tạm"
          icon="pi pi-save"
          iconPos="left"
          class="p-button-lg p-button-outlined p-button-help p-ml-3"
          @click="actionSaveOrderTemporary()"
        >
          <ProgressSpinner
            style="width: 25px; height: 25px"
            v-if="isLoadingSave"
          />
        </Button>
        <Button
          label="Tiếp tục"
          icon="pi pi-arrow-right"
          iconPos="right"
          class="p-button-lg p-ml-3"
          @click="actionCreateOrder()"
        >
          <ProgressSpinner
            style="width: 25px; height: 25px"
            v-if="isLoadingCreate"
          />
        </Button>
      </div>
    </div>
    <!-- Button action -->
  </div>
</template>

<script>
import { mapState } from "vuex";

export default {
  props: {
    user: { type: Object, default: null },
  },

  data() {
    return {
      isLoadingCreate: false,
      isLoadingSave: false,
      products: [],
      filteredProducts: null,
      productsSearch: [],
      promotion: {
        type: "percent",
        reason: "",
        valuePercent: 0,
        valueMoney: 0,
      },
    };
  },

  async created() {
    await this.$store.dispatch("product/getProducts");
    this.productsSearch = this.$_.cloneDeep(this.productsInStore);
  },

  computed: {
    ...mapState({
      productsInStore: (state) => state.product.products,
    }),

    totalPriceOrder() {
      let total = 0;
      this.products.forEach((el) => {
        if (el.discount) {
          total += el.price * el.quantity - el.discount.price;
        } else {
          total += el.price * el.quantity;
        }
      });
      return total;
    },
  },

  methods: {
    actionSearchProducts(event) {
      setTimeout(() => {
        if (!event.query.trim().length) {
          this.filteredProducts = [...this.productsSearch];
        } else {
          this.filteredProducts = this.productsSearch.filter((product) => {
            return product.sku
              .toLowerCase()
              .startsWith(event.query.toLowerCase());
          });
        }
      }, 250);
    },

    actionCreateOrder() {
      // Goi api create order

      this.isLoadingCreate = true;
      setTimeout(() => {
        this.isLoadingCreate = false;
        this.$emit("create");
      }, 2000);
    },

    actionCancelOrder() {
      this.$emit("cancel");
    },

    actionSaveOrderTemporary() {
      // const order = {
      //   id: 3,
      //   name: "Đơn hàng lưu tạm",
      //   createdAt: new Date(),
      //   total: 400000,
      //   status: "chưa giao",
      // };
      // console.log("actionSaveOrderTemporary -> order", order);
      // goi api them order tam thoi

      this.isLoadingSave = true;
      setTimeout(() => {
        this.isLoadingSave = false;
        this.$emit("save", "create-order");
      }, 2000);
    },

    actionBackTo() {
      this.$emit("backTo", "create-order");
    },

    actionRemoveProduct(product) {
      const { id } = product;
      this.products = this.products.filter((el) => el.id !== id);
    },

    actionUpdateProduct(event, product, property) {
      this.products = this.$_.cloneDeep(this.products);

      const { value } = event.target;
      const { id } = product;

      if (property == "quantity" && value < 1) return;
      if (property == "price" && value < 10000) return;

      // Cap nhat lai thuoc tinh san pham theo property truyen vao ( quantity/price )
      this.products.map((el) => {
        if (el.id == id) {
          el[property] = value;
        }
        return el;
      });
    },

    actionOpenFormPromotion(event, index) {
      this.$refs.op[index].toggle(event);
    },

    actionApplyPromotion(product) {
      console.log("actionApplyPromotion -> product", product);
      // Goi vuex apply promotion

      this.$refs.op.forEach((el) => {
        el.hide();
      });
    },

    actionChangeTypePromotion(type) {
      if (type == "money") this.promotion.valuePercent = 0;
      else this.promotion.valueMoney = 0;
    },
  },
};
</script>

<style scoped lang="scss">
.sale-form-create {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    height: 10%;

    .title {
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      padding-top: 12px;
      padding-left: 15px;
    }

    .input-autocomplete {
      margin-left: 10px;
      margin-right: 10px;
      &__custom {
        text-align: left;
        .custom-image {
          max-width: 100%;
          img {
            width: 80%;
            padding-left: 10px;
            padding-top: 10px;
          }
        }

        .custom-title {
          padding-top: 20px;

          &__main {
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 0px;
            padding-bottom: 0px;
          }

          &__sub {
            font-size: 16px;
            color: grey;
          }
        }

        .custom-price {
          padding-top: 20px;
          margin-top: 10px;
          font-weight: 400;
          span {
            font-size: 18px;
          }
        }
      }
    }
  }

  &__body {
    height: 80%;

    .table-product {
      text-align: left;
      padding-left: 15px;
      padding-top: 10px;

      &__header {
        font-weight: bold;
        font-size: 16px;
        margin-bottom: 0px;
      }

      &__content {
        margin-top: 10px;

        .icon {
          cursor: pointer;
          padding-top: 15px;
          &__discount {
            color: #0e4f9c;
            padding: 6px;
            border-radius: 50%;
            border: 1px solid #0e4f9c;
            i {
              font-weight: bold;
              font-size: 16px;
            }
          }
          &__remove {
            padding: 6px;

            i {
              font-weight: bold;
              font-size: 16px;
            }
          }
        }

        .name-product {
          &__title {
            font-weight: bold;
            font-size: 16px;
            margin-bottom: 0px;
          }

          &__subTitle {
            padding-top: 0px;
            margin-bottom: 0px;
            margin-top: 0px;
            font-size: 15px;
            color: grey;
          }

          &__discount {
            padding-top: 0px;
            margin-top: 0px;
            color: #dd7c3d;
            font-weight: bold;
            font-size: 15px;
          }
        }

        .price-product {
          padding-top: 12px;
          padding-left: 15px;
          font-weight: bold;
          font-size: 16px;
        }

        .input-quantity {
          input {
            width: 60px;
            text-align: center;
            padding: 10px;
            border: 1px solid grey;
            border-radius: 10px;
          }
        }

        .input-price {
          input {
            width: 100px;
            padding: 10px;
            text-align: right;
            border: 1px solid grey;
            border-radius: 10px;
          }
        }
      }
    }
  }

  &__addition {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .title {
      padding-left: 15px;
      padding-top: 15px;
      font-weight: bold;
      font-size: 20px;
      color: #0e4f9c;
    }

    .price-total {
      padding-right: 25px;
      padding-top: 15px;
      font-weight: bold;
      font-size: 20px;
      color: #0e4f9c;
    }
  }

  &__footer {
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 40px;
    .left {
      padding-left: 10px;
    }

    .right {
      padding-right: 10px;
    }
  }
}
</style>