<template>
  <div class="sale-conversation">
    <template v-if="conversations.length">
      <div class="sale-conversation__header">
        <p class="header-name">{{ user.name }}</p>
        <hr />
      </div>
      <div class="sale-conversation__body">
        <div class="chat">
          <ul class="list-message">
            <li
              v-for="(item, index) in conversations"
              :key="index"
              class="clearfix"
              :class="item.isOwner ? 'message-own' : 'message-from'"
            >
              <img
                :alt="item.avatar.alt"
                :src="item.avatar.src"
                v-if="!item.isOwner"
              />
              <span>{{ item.message }}</span>
            </li>
          </ul>
        </div>
      </div>

      <div class="sale-conversation__footer">
        <hr />
        <div class="input">
          <input
            type="text"
            placeholder="Nhập tin nhắn và nhấn enter"
            class="p-inputtext"
            v-model="message"
            @keyup.enter="actionSendMessage()"
          />
        </div>
      </div>
    </template>
    <template v-else>
      <div class="sale-conversation__yet">
        <img
          width="156px"
          src="assets/layout/images/misa/ic_Khong_Tin_Nhan0.svg"
        />
        <p class="p-mt-2">CHƯA CHỌN HỘI THOẠI</p>
      </div></template
    >
  </div>
</template>

<script>
export default {
  props: {
    conversations: { type: Array, default: () => [] },
    user: { type: Object, default: null },
  },

  data() {
    return {
      message: "",
    };
  },
  methods: {
    actionSendMessage() {
      const mess = {
        isOwner: true,
        message: this.message,
        avatar: {
          src: "assets/layout/images/avatar/avatar.png",
          alt: "User",
        },
      };
      this.$store.dispatch("sale/sendMessage", mess);
      this.message = "";
    },
  },
};
</script>

<style scoped lang="scss">
.sale-conversation {
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__header {
    height: 5%;
    .header-name {
      font-size: 22px;
      font-weight: bold;
      text-align: left;
      padding-top: 12px;
      padding-left: 12px;
      margin-bottom: 0px;
      padding-bottom: 0px;
    }
    hr {
      padding: 0px;
      margin: 10px;
      margin-left: 0px;
      margin-right: 0px;
    }
  }

  &__body {
    height: 90%;
    overflow: hidden;
    margin-top: 15px;

    .chat {
      ul {
        padding: 12px;
        margin: 0;
        list-style-type: none;

        li {
          padding: 6px 0;

          img {
            width: 36px;
            float: left;
          }

          span {
            padding: 6px 12px;
            float: left;
            display: inline-block;
            margin: 4px 0;
            border-radius: 10px;
          }

          &.message-from {
            img,
            span {
              float: left;
            }

            img {
              margin-right: 8px;
            }

            span {
              background-color: #f1f0f0;
              color: black;
            }
          }

          &.message-own {
            img,
            span {
              float: right;
            }

            img {
              margin-left: 8px;
            }

            span {
              background-color: #0077fa;
              color: white;
            }
          }
        }
      }
    }
  }

  &__footer {
    height: 8%;

    .input {
      input {
        width: 90%;
        border-radius: 15px;
        padding-left: 10px;
      }
    }
  }

  &__yet {
    margin-top: 40px;
  }
}
</style>