<template>
  <div class="sale-message p-col-12 p-m-0 p-pb-0 p-pl-0 p-pr-0 p-pt-2">
    <!-- List source messages -->
    <div class="source-list">
      <div class="p-grid">
        <div
          v-for="(src, index) in sourcesMessage"
          :key="index"
          :class="src.isActive ? 'is-active' : ''"
          class="p-col"
          @click="actionChangeSourceMessage(src, index)"
        >
          <span class="source-list__tab">
            <i :class="src.icon"></i>
          </span>
        </div>
      </div>
    </div>
    <!-- List source messages -->

    <hr class="p-m-0" />

    <!-- List Filter messages -->
    <div class="filter-list">
      <div class="p-d-flex p-jc-between p-col-12 p-pb-0">
        <div class="p-pl-2">
          <p>{{ sourcesMessageTitle }}</p>
        </div>
        <div>
          <span
            v-for="(filter, i) in filtersMessage"
            :key="i"
            @click="actionFilterMessage(filter, i)"
          >
            <i
              :class="filter.icon"
              :style="filter.isActive ? 'color: #0e4f9c' : ''"
            ></i>
          </span>
        </div>
      </div>
    </div>
    <!-- List Filter messages -->

    <!-- Input search -->
    <div class="input-search p-col-12 p-pt-0">
      <span class="p-input-icon-left p-col-12">
        <i class="pi pi-search p-ml-2" />
        <InputText
          class="p-col-12"
          type="text"
          v-model="searchMessage"
          placeholder="Nhập theo tên, SĐT"
        />
      </span>
    </div>
    <!-- Input search -->

    <hr class="p-m-0" />

    <!-- List Message -->
    <div class="message-list">
      <ul class="widget-person-list message-list__ul">
        <template v-if="filterList.length">
          <li class="message-list__ul__filter">
            <div class="p-d-flex p-jc-start">
              <span
                v-for="(li, pos) in filterList"
                :key="pos"
                class="p-tag p-mr-2"
              >
                {{ li }}
              </span>
            </div>
          </li>
        </template>

        <template v-if="messages.length">
          <li
            v-for="(mess, ind) in messages"
            :key="ind"
            class="message-list__li"
            :class="mess.isActive ? 'is-active-background ' : ''"
            @click="actionChooseMessage(mess, ind)"
          >
            <div class="person-item">
              <img :src="mess.avatar.src" :alt="mess.avatar.alt" />
              <div class="person-info">
                <div class="person-name">{{ mess.userName }}</div>
                <div class="person-subtext">{{ mess.message }}</div>
              </div>
            </div>
          </li>
        </template>
        <template v-else>
          <div class="p-col-12">
            <img
              width="156px"
              src="assets/layout/images/misa/ic_Khong_Tin_Nhan0.svg"
            />
            <p class="p-mt-2">KHÔNG CÓ KHÁCH HÀNG</p>
          </div>
        </template>
      </ul>
    </div>
    <!-- List Message -->
  </div>
</template>

<script>
import saleConstants from "@/constants/sale.js";

export default {
  props: {
    messages: { type: Array, default: () => [] },
  },
  data() {
    return {
      sourcesMessageTitle: "Tất cả hội thoại",
      searchMessage: "",
      sourcesMessage: saleConstants.sourcesMessage,
      filtersMessage: saleConstants.filtersMessage,
    };
  },
  computed: {
    filterList() {
      return this.filtersMessage
        .filter((el) => el.isActive)
        .map((el) => el.label);
    },
  },
  methods: {
    actionChangeSourceMessage(source, position) {
      const { action, isActive } = source;
      if (isActive) return;

      const indexActived = this.sourcesMessage.findIndex((el) => el.isActive);
      this.sourcesMessage[indexActived].isActive = false;
      this.sourcesMessage[position].isActive = true;
      this.sourcesMessageTitle = this.sourcesMessage[position].label;

      this.$store.dispatch("sale/getMessageBySource", { source: action });
    },

    actionFilterMessage(filter, position) {
      const { isActive } = this.filtersMessage[position];
      this.filtersMessage[position].isActive = !isActive;
    },

    async actionChooseMessage(message) {
      if (message.isActive) return;

      const { commit, dispatch } = this.$store;
      await commit("sale/setActiveMessage", { id: message.id });
      await dispatch("sale/getInfoMessageByUserId", { id: message.id });
      await this.$emit("reset");
    },
  },
};
</script>

<style scoped lang="scss">
.sale-message {
  .is-active {
    background-color: #eef4fe;
    color: #0e4f9c;
  }
  .is-active-background {
    background-color: #0e4f9c;
    color: #f4f4f4;
  }
  .source-list {
    &__tab {
      cursor: pointer;
      i {
        font-size: 24px;
      }

      :hover {
        color: #0e4f9c;
      }
    }
  }

  .filter-list {
    font-size: 16px;
    i {
      font-size: 18px;
      cursor: pointer;
    }
  }

  .message-list {
    overflow: hidden;
    height: calc(100vh - 140px);

    &__ul {
      height: 100%;
      overflow: auto;
      cursor: pointer;

      &__filter {
        background-color: #dfe8f3;
      }
    }
  }
}
</style>