<template>
  <div class="p-col-12 p-m-0 p-p-0 sale-information">
    <template v-if="user">
      <div class="sale-information__card card">
        <div class="customer-information p-grid">
          <div class="customer-information__avatar p-col-2">
            <div class="p-pt-4">
              <img :src="user.image" :alt="user.name" />
            </div>
          </div>
          <div class="customer-information__title p-col-9">
            <div class="customer-information__title__name">
              <span>{{ user.name }}</span>
            </div>
            <div class="customer-information__title__subtext">
              <i class="pi pi-fw pi-mobile"></i>
              <span class="p-pl-2" v-if="user.phone">
                {{ user.phone }}
              </span>
              <span class="p-pl-2" v-else>{{ titleNotUpdate }}</span>
            </div>
            <div class="customer-information__title__subtext">
              <i class="pi pi-fw pi-map-marker"></i>
              <span class="p-pl-2" v-if="user.address">
                {{ user.address }}
              </span>
              <span class="p-pl-2" v-else>{{ titleNotUpdate }}</span>
            </div>
          </div>
          <div class="customer-information__actions p-col-1">
            <Button
              type="button"
              class="p-button-rounded p-button-warning"
              icon="pi pi-cog"
              @click="actionOpenFormUpdate()"
            />
          </div>
        </div>
      </div>
      <div class="sale-information__tab">
        <div class="top">
          <TabView>
            <TabPanel header="Ghi chú">
              <div class="p-grid">
                <div class="p-col-12">
                  <input
                    type="text"
                    class="p-col-12"
                    placeholder="Nhập ghi chú và nhấn Enter"
                    v-model="textNote"
                    @keyup.enter="actionAddNote()"
                  />
                </div>
              </div>
              <div class="p-grid p-mt-2">
                <template v-if="notes.length">
                  <div
                    class="p-col-12 p-d-flex p-jc-between note-information p-mt-2"
                    v-for="note in notes"
                    :key="note.id"
                  >
                    <span class="p-pl-4">{{ note.content }}</span>
                    <span
                      class="note-information__remove"
                      @click="actionRemoveNote(note)"
                    >
                      <i class="pi pi-fw pi-trash"></i>
                    </span>
                  </div>
                </template>
                <template v-else>
                  <div class="p-col-12 p-mt-3">
                    <img
                      width="80px"
                      src="assets/layout/images/misa/ic_note_empty.png"
                    />
                    <p>Không có ghi chú nào</p>
                  </div>
                </template>
              </div>
            </TabPanel>
            <TabPanel header="Lịch sử mua hàng">
              <template v-if="orders.length">
                <div class="card" v-for="ord in orders" :key="ord.id">
                  <div class="order-history">
                    <div class="order-history__left">
                      <p class="order-name">{{ ord.name }}</p>
                      <p class="order-time">{{ ord.createdAt }}</p>
                    </div>
                    <div class="order-history__right">
                      <p class="order-price">{{ ord.total | formatMoney() }}</p>
                      <p class="order-status">{{ ord.status }}</p>
                      <span
                        class="order-detail"
                        @click="actionOpenDetailOrder()"
                      >
                        <i class="pi pi-angle-double-right"></i>
                      </span>
                    </div>
                  </div>
                </div>
              </template>
              <template v-else>
                <div class="p-col-12">
                  <img
                    width="156px"
                    src="assets/layout/images/misa/ic_Khong_Don_Hang0.svg"
                  />
                  <p class="p-mt-2">CHƯA CÓ ĐƠN HÀNG</p>
                </div>
              </template>
            </TabPanel>
          </TabView>
        </div>
        <div class="bottom">
          <Button
            label="Tạo đơn hàng"
            icon="pi pi-shopping-cart"
            @click="actionOpenFormCreateOrder()"
          />
        </div>
      </div>
    </template>
    <template v-else>
      <div class="p-col-12 sale-information__yet">
        <img
          width="156px"
          src="assets/layout/images/misa/ic_Khong_Don_Hang0.svg"
        />
        <p class="p-mt-2">KHÔNG CÓ ĐƠN HÀNG</p>
      </div>
    </template>
  </div>
</template>

<script>
export default {
  props: {
    user: { type: Object, default: null },
    notes: { type: Array, default: () => [] },
    orders: { type: Array, default: () => [] },
  },

  data() {
    return {
      textNote: "",
      titleNotUpdate: "Chưa có thông tin",
    };
  },
  methods: {
    actionOpenFormUpdate() {
      this.$emit("openForm", "update-information");
    },

    actionOpenFormCreateOrder() {
      this.$emit("openForm", "create-order");
    },

    actionOpenDetailOrder() {
      // console.log("mo pop up hien chi tiet don hang");
    },

    actionAddNote() {
      if (this.textNote) {
        const content = this.textNote;
        this.textNote = "";
        this.$store.commit("sale/addNewNote", content);
      }
    },

    actionRemoveNote(note) {
      this.$store.commit("sale/removeNote", note);
    },
  },
};
</script>

<style scoped lang="scss">
.sale-information {
  height: calc(100vh - 140px);
  overflow: hidden;

  &__yet {
    margin-top: 40px;
  }

  &__card {
    height: 15%;
    .customer-information {
      &__title {
        text-align: left;
        &__name {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 10px;
        }

        &__subtext {
          font-size: 16px;
          margin-top: 5px;
          color: grey;
        }
      }
    }
  }

  &__tab {
    height: 82%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .top {
      .note-information {
        background-color: rgb(238, 236, 236);
        border: 1px solid rgb(207, 204, 204);
        border-radius: 12px;

        &__remove {
          cursor: pointer;

          :hover {
            color: red;
          }
        }
      }

      .order-history {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &__left {
          text-align: left;
          .order-name {
            color: #39a3f4;
            margin-bottom: 2px;
            font-weight: bold;
          }
          .order-time {
            font-weight: 100;
          }
        }

        &__right {
          text-align: right;
          .order-price {
            margin-bottom: 2px;
            font-weight: bold;
          }
          .order-status {
            color: #ef5350;
          }
          .order-detail {
            cursor: pointer;
          }
        }
      }
    }
  }
}
</style>